<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
	<location path="apple-app-site-association">
		<system.webServer>
			<staticContent>
			    <!--<remove fileExtension="." />-->
				<mimeMap fileExtension="." mimeType="application/json" />
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="08:00:00" cacheControlCustom="public" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="assetlinks.json">
		<system.webServer>
			<staticContent>
				<!--<remove fileExtension=".json" />-->
				<mimeMap fileExtension=".json" mimeType="application/json" />
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="08:00:00" cacheControlCustom="public" />
			</staticContent>
		</system.webServer>
	</location>
 </configuration>